@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 70%;
    margin: 0 auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

h3, h1, h5 {
    color: rgba(0, 0, 0, 0.519);
}

.btn {
    background-color: rgb(200, 72, 94);
    padding: 0.8rem 1.5rem;
    border-radius: 1.5rem;
    transition: all 0.3 ease-in-out;
}

.btn:hover {
    background-color: rgb(217, 50, 78);
}

.btn i {
    margin-right: 0.5rem;
}

.hidden {
    visibility: hidden;
}

body {
    font-family: 'Poppins', sans-serif;
}
/* Header */
header {
    display: flex;
    flex-direction: column;
    height: 90vh;
    background-image: url(./img/background.jpg);
    background-repeat: no-repeat;
    background-position: top -10rem center;
    background-size: cover;
    background-attachment: fixed;
}

.social-icons ul {
    display: flex;
    padding-top: 15px;
}

.social-icons ul li {
    padding: 1.2rem;
}

.header-subtitle {
    font-size: 3.8rem;
    font-weight: 400;
}

.header-title {
    font-size: 8rem;
    font-weight: 600;
    margin-top: -2.5rem;
}

.header-content {
    margin-top: 12rem;
}

.header-content h5 {
    margin-top: -1.9rem;
    margin-bottom: 4rem;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 7px;
}

/* nav */
nav {
    border-bottom: 1px solid rgb(0, 0, 0);
}
nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
}

nav ul li a {
    display: block;
    color: black;
    font-size: 1.4rem;
    font-weight: 600;
}

nav ul li a:hover {
    color: rgb(63, 61, 61);
}

nav .avatar-name {
    display: flex;
    flex-direction: column;
}

nav .avatar-name .my-name {
    font-size: 1.6rem;
    font-weight: 500;
}

nav .avatar-name:last-child {
    color: rgba(0, 0, 0, 0.899);
}

#logo {
    width: 14rem;
    border: 10px solid white;
    border-radius: 50%;
    box-shadow: 6px 9px 10px 1px rgba(179,172,179,1);
}

