@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 70%;
    margin: 0 auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

h3, h1, h5 {
    color: white;
}

.btn {
    background-color: rgb(200, 72, 94);
    padding: 0.8rem 1.5rem;
    border-radius: 1.5rem;
    transition: all 0.3 ease-in-out;
}

.btn:hover {
    background-color: rgb(217, 50, 78);
}

.btn i {
    margin-right: 0.5rem;
}

body {
    font-family: 'Poppins', sans-serif;
}
/* Header */
header {
    display: flex;
    flex-direction: column;
    height: 90vh;
    background-color: rgb(4, 30, 21);
}

.social-icons ul {
    display: flex;
    padding-top: 15px;
}

.social-icons ul li {
    padding: 10px;
}

.header-subtitle {
    font-size: 3.8rem;
    font-weight: 400;
}

.header-title {
    font-size: 8rem;
    font-weight: 600;
    margin-top: -2.5rem;
}

.header-content h5 {
    margin-top: -1.9rem;
    font-size: 1.7rem;
    font-weight: 300;
    letter-spacing: 5px;
}

/* nav */
nav {
    border-top: 1px solid red;
}
nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
}

nav ul li a {
    display: block;
    color: black;
    font-size: 1.4rem;
    font-weight: 600;
}

nav ul li a:hover {
    color: rgb(63, 61, 61);
}

